body {
  // background-color: #51368F;
  color: #444;
  font-family: 'Roboto';
  font-weight: lighter;
}
header {
  margin: 20px 20px 0 20px;
}
.container {
  max-width: 100%
}
.logo {
  display: block;
  width: 230px;
}
.logo img {
  max-width: 100%;
  vertical-align: middle;
  margin-top: -20px;
}
// Helpers
.u-t-40 {
  margin-top: 40px;
}
.u-t-80 {
  margin-top: 80px;
}
// Stats
.stat {
  margin-bottom: 50px;
  .stat_number {
    color: #F9BF3B;
    font-weight: 500;
    font-size: 90px;
    display: block;
    line-height: 1.2em;
  }
  .stat_description {
    color: rgba(255, 255, 255, .7);
  }
}
text {
  font-size: 12px;
  stroke: #fff;
  stroke-width: 0.5
}
.u-pull-right {
  float: right
}
.tooltip {
  position: absolute;
  min-width: 150px;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
  border-radius: 4px;
  display: none
}
.table-holder {
  border: solid 1px #ddd;
  overflow-x: scroll;
  overflow-y: scroll;
  padding:5px;
  height: 600px
}
.widget-map{
  width:100%;
  min-height: 700px;
}
.sub_head{
  font-size: 25px
}
.selector{
  float: right;
  width:300px
}
